<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Unagi </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Usuarios</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8" size-xs="12" size-sm="12" size-md="12">
        <app-user-card
          *ngFor="let user of users"
          [firstname]="user.first_name"
          [lastname]="user.last_name"
          [avatarUrl]="user.avatar"
          [userId]="user.id"
        ></app-user-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
