<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Unagi" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Detalle</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="userData">
        <ion-avatar height="150px">
          <img [src]="userData.avatar" />
        </ion-avatar>

        <ion-list>
          <ion-item>
            <ion-label>Id: {{ userData.id }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nombre: {{ userData.first_name }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Apellido: {{userData.last_name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Email: {{userData.email}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
