<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="2" size-xs="4" size-sm="4" size-md="2">
          <ion-avatar class="ion-margin-bottom">
            <img [src]="avatarUrl" />
          </ion-avatar>
          <ion-label>{{ lastname }}, {{ firstname }}</ion-label>
        </ion-col>
        <ion-col>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            veniam eaque distinctio quod maiores dolores fugiat, laborum
            deserunt repellendus sed perspiciatis magni placeat id officia
            numquam possimus error? Architecto, ipsum!
          </p>
          <br />
          <ion-button (click)="userDetail()">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
